@import url("https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap");
$FFBethEllen: "Beth Ellen";
$FF-Open-Sans: "Open Sans Condensed";
$FF-bebas: "Bebas Neue";
$FF-robo: "Roboto";
// color
$blue: #3590cc;
$gray: #9c9c9c;
$white: #ffffff;
$black: #000000;

// bg
$bg_gray: #f1f1f1;
.wrap {
  overflow: hidden;
  min-height: 100%;
}

.none {
  display: none;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

@keyframes preloader {
  0% {
    transform: rotate(0);
    border-top: 3px solid rgb(240, 40, 190);
  }
  50% {
    border-top: 3px solid rgb(153, 240, 40);
  }
  100% {
    transform: rotate(360deg);
    border-top: 3px solid rgb(40, 110, 240);
  }
}

@keyframes preloaderAgainst {
  0% {
    transform: rotate(0);
    border-top: 3px solid rgb(250, 103, 6);
  }
  50% {
    border-top: 3px solid rgb(60, 146, 38);
  }
  100% {
    transform: rotate(-360deg);
    border-top: 3px solid rgb(230, 26, 26);
  }
}

@keyframes preloaderBulletUp {
  0% {
    transform: translateY(0px);
    background: #e46e00;
  }
  50% {
    transform: translateY(-10px);
    background: #000000;
  }
  100% {
    transform: translateY(0px);
    background: #e46e00;
  }
}

.invalid {
  transition: 0.2s;
  border: 1px solid red;
  background: red;
  animation: invalid 0.01s infinite linear;
  border-radius: 10px;
}
@keyframes invalid {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}
