@import url("https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap");
$FFBethEllen: "Beth Ellen";
.wrap {
  overflow: hidden;
  // background: rgb(10, 0, 0);
}
 
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
