.steam {
  &__block {
    padding: 100px 0;
    font-family: "Motiva Sans", Sans-serif;
  }
  &__content {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
  }
  &__header {
    background: #070d1bf1;
    display: flex;
    grid-column: 1/13;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }
  &__box-logo {
    height: 60px;
    width: 120px;
  }
  &__logo {
    height: 100%;
    width: 120px;
    background: url("https://regnum.ru/uploads/pictures/news/2019/01/14/regnum_picture_154746568713465_normal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__box-name-shop {
    @include center();

    color: white;
    text-transform: uppercase;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    height: 60px;
    width: 45%;
  }

  &__box-search {
    @include center();
    height: 60px;
    width: 45%;
  }
  &__search-price {
    height: 35%;
    margin: 2px 0;
    border-radius: 4px;
  }
  &__box-search-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
  }
  &__input-search {
    background: linear-gradient(rgba(255, 255, 255, 0.548));
    border: none;
    width: 90%;
    height: 80%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    &::after {
      position: absolute;
      content: " fnejfn";
      border: 1px solid red;
      width: 10px;
      height: 10px;
      top: 10px;
      left: 10;
    }
  }
  &__container {
    // min-height: 1400px;
    grid-column: 1/13;
    overflow: hidden;
    background: #070d1bf1;
  }
  &__item {
    display: flex;
    transition: 0.5s cubic-bezier(0.57, -0.26, 0.25, 0.75);
    color: rgb(139, 133, 133);
    background: #070d1bf1;
    text-transform: uppercase;
    height: 80px;
    border-bottom: 1px solid gray;
  }
  &__name {
    display: flex;
    z-index: 1;
    align-items: center;
    padding-left: 20px;
    width: 45%;
  }
  &__rename {
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    margin-left: -10;
    width: 40%;
    z-index: 5;
    text-transform: uppercase;
    background: #070a11;
    color: rgb(139, 133, 133);
    border: none;
  }
  &__price {
    user-select: none;
    @include center();
    width: 45%;
  }
  &__reprice {
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    text-align: center;
    width: 20%;
    z-index: 5;
    text-transform: uppercase;
    background: #070a11;
    color: rgb(139, 133, 133);
    border: none;
  }
  &__delete {
    @include center();
    cursor: pointer;
    width: 10%;
  }
}

.close {
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 0;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(255, 255, 255);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.hookah {
  // display: none;
  &__block {
    padding: 100px 0;
    font-family: "Motiva Sans", Sans-serif;
  }
  &__content {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
  }
  &__header {
    display: flex;
    grid-column: 1/13;
    border-bottom: 1px solid rgba(255, 255, 255, 0.541);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
  }
  &__box-logo {
    height: 120px;
    width: 120px;
  }
  &__logo {
    height: 100%;
    width: 120px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8FUpBfTwWUf7EzsdOR2JnSw-RPEl-uwOl0iEy_dbWuxQr_s2C");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__box-name-shop {
    @include center();
    background: #000000;
    color: white;
    text-transform: uppercase;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    height: 120px;
    width: 45%;
  }
  &__box-search {
    @include center();
    height: 120px;
    width: 45%;
    background: #000000;
  }
  &__input-search {
    background: linear-gradient(rgba(255, 255, 255, 0.548));
    border: none;
    width: 90%;
    height: 50%;
    padding: 10px;
    border-radius: 10px;
  }
  &__container {
    grid-column: 1/13;
    overflow: hidden;
    background: #000000;
  }
  &__item {
    display: flex;
    transition: 0.5s cubic-bezier(0.57, -0.26, 0.25, 0.75);
    color: rgba(255, 255, 255, 0.541);
    background: #070d1b46;
    text-transform: uppercase;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.815);
  }
  &__name {
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 45%;
  }
  &__rename {
    border-radius: 10px;
    padding: 10px 0px 10px 50px;
    width: 40%;
    z-index: 5;
    text-transform: uppercase;
    background: #070a11;
    color: rgb(139, 133, 133);
    border: none;
  }
  &__price {
    user-select: none;
    @include center();
    width: 45%;
  }
  &__reprice {
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    text-align: center;
    width: 20%;
    z-index: 5;
    text-transform: uppercase;
    background: #070a11;
    color: rgb(139, 133, 133);
    border: none;
  }
  &__delete {
    @include center();
    cursor: pointer;
    width: 10%;
  }
}
