.steam {
  // display: none;
  &__block {
    padding: 100px 0;
    font-family: "Motiva Sans", Sans-serif;
  }
  &__content {
    user-select: none;
  }
  &__container {
    min-height:800px;
    overflow: hidden;
    background: #070d1bf1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &__header {
    background: #070d1bf1;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    max-height: 70px;
  }
  &__box-logo {
    height: 60px;
    width: 120px;
  }
  &__logo {
    height: 100%;
    width: 120px;
    background: url("https://regnum.ru/uploads/pictures/news/2019/01/14/regnum_picture_154746568713465_normal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__box-name-shop {
    @include center();
    color: white;
    text-transform: uppercase;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    height: 60px;
    width: 25%;
  }

  &__box-search {
    @include center();
    height: 60px;
    width: 45%;
  }
  &__search-price {
    height: 27px;
    border-radius: 4px;
  }
  &__box-search-price {
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  &__input-search {
    background: linear-gradient(rgba(255, 255, 255, 0.548));
    border: none;
    width: 90%;
    height: 90%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
  }

  &__item {
    display: flex;
    font-size: 20px;
    transition: 0.5s cubic-bezier(0.57, -0.26, 0.25, 0.75);
    color: rgb(139, 133, 133);
    background: #070d1bf1;
    height: 80px;
    margin: 5px 0;
  }
  &__name {
    display: flex;
    z-index: 1;
    align-items: center;
    padding-left: 20px;
    width: 35%;
  }
  &__avatar {
    transition: 0.5s;
    height: 80px;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__box-avatar {
    overflow: hidden;
    width: 15%;
    height: 90;
  }
  &__rename {
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    margin-left: -10;
    width: 35%;
    z-index: 5;
    background: #070a11;
    color: rgb(139, 133, 133);
    border: none;
  }
  &__price {
    user-select: none;
    @include center();
    width: 45%;
  }
  &__reprice {
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    text-align: center;
    width: 20%;
    z-index: 5;
    background: #070a11;
    color: rgb(139, 133, 133);
    border: none;
  }
  &__delete {
    transition: 0.2s;
    @include center();
    cursor: pointer;
    width: 10%;
    &:hover {
      background: rgb(175, 2, 2);
    }
    &:hover .close:before {
      background: black;
    }
    &:hover .close:after {
      background: black;
    }
  }
}

.close {
  transition: 0.2s;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 0;
}

.close:before,
.close:after {
  transition: 0.2s;
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(255, 255, 255);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.hookah {
  &__block {
    padding: 100px 0;
    font-family: "Motiva Sans", Sans-serif;
  }
  &__content {
    user-select: none;
    grid-column-gap: 20px;
    min-height: 500px;
  }
  &__header {
    background: #000102fd;
    display: flex;
    align-items: center;
    grid-column: 1/13;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    max-height: 70px;
  }
  &__logo {
    height: 100%;
    width: 150px;
    background: url("./img/logo-hookah.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__box-logo {
    height: 60px;
    width: 120px;
  }

  &__box-name-shop {
    @include center();
    color: white;
    text-transform: uppercase;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    height: 60px;
    width: 25%;
  }

  &__box-search {
    @include center();
    height: 60px;
    width: 45%;
  }
  &__search-price {
    height: 27px;
    border-radius: 4px;
  }
  &__box-search-price {
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  &__input-search {
    background: linear-gradient(rgba(255, 255, 255, 0.548));
    border: none;
    width: 90%;
    height: 90%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
  }
  &__container {
    min-height: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background: #000000;
  }
  &__item {
    display: flex;
    font-size: 20px;
    transition: 0.5s cubic-bezier(0.57, -0.26, 0.25, 0.75);
    color: rgb(139, 133, 133);
    background: #000102fd;
    // height: 80px;
    margin: 15px 0;
  }
  &__name {
    display: flex;
    z-index: 1;
    align-items: center;
    padding-left: 20px;
    width: 35%;
  }
  &__avatar {
    transition: 0.5s;
    height: 290;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__box-avatar {
    z-index: 3;
    overflow: hidden;
    width: 25%;
    height: 290;
    &:hover {
      background: red;
    }
  }
  &__rename {
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    margin-left: -10;
    width: 35%;
    z-index: 5;
    background: #070a11;
    color: rgb(139, 133, 133);
    border: none;
  }
  &__price {
    user-select: none;
    @include center();
    width: 45%;
  }
  &__reprice {
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    text-align: center;
    width: 20%;
    z-index: 5;
    background: #070a11;
    color: rgb(139, 133, 133);
    border: none;
  }
  &__delete {
    transition: 0.2s;
    @include center();
    cursor: pointer;
    width: 10%;
    &:hover {
      background: rgb(90, 0, 0);
    }
    &:hover .close:before {
      background: black;
    }
    &:hover .close:after {
      background: black;
    }
  }
}
