.parallax {
  background: $bg_gray;
  &__block {
    padding: 63px 0 74px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
  }
  &__title {
    grid-column: 1/6;
    margin: 0;
  }
  &__title_parallax {
    color: $white;
    @include style_t(64, 64);
    font-weight: normal;
    font-family: $FF-bebas;
  }
  &__container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    grid-column: 3/11;
    width: 780px;
    height: 402px;
    z-index: 0;
  }
  &__img {
    z-index: -1;
    position: absolute;
    background: linear-gradient(rgba(196, 196, 196, 0.7) 0%, rgba(196, 196, 196, 0.7) 100%), url("./img/parallax.png");
    transition: 0.7s;
    width: 780px;
    height: 555px;
  }
}
