.parallax {
  background: $bg_gray;
  overflow: hidden;
  &__block {
    position: relative;
    padding: 63px 0 74px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
  }
  &__title {
    grid-column: 1/6;
    margin: 0;
  }
  &__title_parallax {
    color: $white;
    @include style_t(64, 64);
    font-weight: normal;
    font-family: $FF-bebas;
    z-index: 2;
  }

  &__container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    grid-column: 3/11;
    max-width: 780px;
    height: 402px;
    z-index: 2;
  }
  &__overlay {
    position: absolute;
    background: rgba(196, 196, 196, 0.7);
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 0.7s;
  }
  &__img {
    position: absolute;
    background: url("./img/parallax.png");
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    // transition: all 1.5s cubic-bezier(0.35, -0.1, 0.31, 1.03) 0s;
    width: 780px;
    height: 555px;
    z-index: -1;
  }
}
