.box-square {
  overflow: hidden;
  position: relative;
  background: rgba(117, 2, 212, 0.315);
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square {
  color: wheat;
  display: flex;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  position: absolute;
  background: black;
  width: 100px;
  height: 100px; 
}
.arrow {
  width: 500px;
  height: 4px;
  background: rgb(255, 0, 0);
  position: absolute;
  left: 0px;
  top: 6px;
}
.mechanism {
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 2px;
  width: 15px;
  height: 15px;
  background: black;
}
