<header class="header">
  <div class="container">
    <div class="header__block">

      <div class="header__box-logo">
        <div class="header__img-logo"></div>
        <div class="header__desc-logo">
          <p class="header__name-academy header__name">DL Academy</p>
          <p class="header__name-course header__name">JavaScript Course</p>
        </div>
      </div>

      <nav class="header__nav">
        <a href="./lesson-1.html" class="header__link">Lesson №1</a>
        <a href="./lesson-2.html" class="header__link">Lesson №2</a>
        <a href="./lesson-3.html" class="header__link">Lesson №3</a>
        <a href="./lesson-4.html" class="header__link">Lesson №4</a>
        <a href="./lesson-5.html" class="header__link">Lesson №5</a>
        <a href="./lesson-6.html" class="header__link">Lesson №6</a>
        <a href="./lesson-7.html" class="header__link">Lesson №7</a>
        <a href="./lesson-8.html" class="header__link">Lesson №8</a>
        <a href="./lesson-9.html" class="header__link">Lesson №9</a>
        <a href="./lesson-10.html" class="header__link">Lesson №10</a>
        <a href="./lesson-11.html" class="header__link">Lesson №11</a>
        <a href="./lesson-12.html" class="header__link">Lesson №12</a>
        <a href="./lesson-13.html" class="header__link">Lesson №13</a>
        <a href="./lesson-14.html" class="header__link">Lesson №14</a>
        <a href="./lesson-15.html" class="header__link">Lesson №15</a>
        <a href="./lesson-16.html" class="header__link">Lesson №16</a>
      </nav>
    </div>
  </div>
</header>