<header class="header">
  <div class="container">
    <div class="header__block">

      <div class="header__box-logo">
        <div class="header__img-logo"></div>
        <div class="header__desc-logo">
          <p class="header__name-academy header__name">DL Academy</p>
          <p class="header__name-course header__name">JavaScript Course</p>
        </div>
      </div>
      <div class="header__wrap-rating">
        <div class="header__rating header__rating_js">
          <div class="header__rating-star header__rating-star_js"></div>
          <div class="header__rating-star header__rating-star_js"></div>
          <div class="header__rating-star header__rating-star_js"></div>
          <div class="header__rating-star header__rating-star_js"></div>
          <div class="header__rating-star header__rating-star_js"></div>
        </div>
      </div>
      <nav class="header__nav">
        <a href="./lesson-1.html" class="header__link header__link_js">Lesson №1</a>
        <a href="./lesson-2.html" class="header__link header__link_js">Lesson №2</a>
        <a href="./lesson-3.html" class="header__link header__link_js">Lesson №3</a>
        <a href="./lesson-4.html" class="header__link header__link_js">Lesson №4</a>
        <a href="./lesson-5.html" class="header__link header__link_js">Lesson №5</a>
        <a href="./lesson-6.html" class="header__link header__link_js">Lesson №6</a>
        <a href="./lesson-7.html" class="header__link header__link_js">Lesson №7</a>
        <a href="./lesson-8.html" class="header__link header__link_js">Lesson №8</a>
        <a href="./lesson-9.html" class="header__link header__link_js">Lesson №9</a>
        <a href="./lesson-10.html" class="header__link header__link_js">Lesson №10</a>
        <a href="./lesson-11.html" class="header__link header__link_js">Lesson №11</a>
        <a href="./lesson-12.html" class="header__link header__link_js">Lesson №12</a>
        <a href="./lesson-13.html" class="header__link header__link_js">Lesson №13</a>
        <a href="./lesson-14.html" class="header__link header__link_js">Lesson №14</a>
        <a href="./lesson-15.html" class="header__link header__link_js">Lesson №15</a>
        <a href="./lesson-16.html" class="header__link header__link_js">Lesson №16</a>
        <a href="https://biryukovvv.github.io/" class="header__link header__link_js">WILLIAMS</a>  
        <a href="https://vladbiryukov.github.io/" class="header__link header__link_js">Healthy Spine </a>
      </nav>
    </div>
  </div>
</header>