<div class="list">
  <div class="container">
    <div class="list__block">
      <p class="list__instruction">Инструкция по использованию :</p>
      <ol class="list__instruction">

        <li class="list__instruction_item"> 類型指令</li>
        <li class="list__instruction_item">  что то очень важное</li>
        <li class="list__instruction_item">что бы добавить запись нужно ввести в поле ввода текст а затем нажать "новая
          запись" или просто нажать "enter"</li>
        <li class="list__instruction_item">что бы удалить заметку нужно дважды по ней кликнуть</li>
        <li class="list__instruction_item">что бы редактировать заметку нужно один раз нажать на неё затем изменить в
          поле
          для ввода и нажать " сохранить изменения" или просто "enter</li>
        <li class="list__instruction_item">если ничего не ввести заметка не добавится и поле для ввода на некоторы время
          выделится </li>
      </ol>
      <p class="list__instruction"> </p>
      <p class="list__instruction"> </p>
      <div class="list__card list__card_js">
        <div class="list__button list__button_js">Новая запись</div>
        <input class="list__input list__input_js" placeholder="Запись" type="text">

      </div>
    </div>
  </div>
</div>